.panda-bg-info{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.panda-buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 9px 25px;
    border-bottom: none;
    border-radius: 10px;
}